.contacto{
    width: 500px;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    p {
        font-family: Verdana;
        font-size: 16px;
}
}